//- vim: set ts=2 sts=2 sw=2 noexpandtab:

extends layout

block script
	//- script(src='/src/index.js', type='text/jsx')
	script(src='/js/homepage.js')
	link(rel='stylesheet', href='/css/homepage.css')
	//-script(src='/js/index.js')

block content
	.container(ng-controller='MainCtrl')
		//- h1 tail -f log {{name}}
		div.logs(scroll-glue-bottom="glued")
			ul
				li(ng-repeat='line in logs')
					{{line.number}}: {{line.body}}
		//- div#bottom
		//- div#example
		//- pre.console
